.main__message
  .main__message__top
    .main__message__top__name
      daikinishida
    .main__message__top__submit-date-time
      2019/01/18 12:56:05
    .main__message__top__text
      スティーブ・ウォズニアックはIQ200
