.chat__side__list
  .chat__side__glist__name
    sampleグループ1
  .chat__side__glist__message
    まだメッセージはありません
  .chat__side__glist__name
    sampleグループ2
  .chat__side__glist__message
    まだメッセージはありません
  .chat__side__glist__name
    sampleグループ3
  .chat__side__glist__message
    まだメッセージはありません
