  .chatSide
    =render './chatSide__user'
    =render './chatSide__groups'

  .chatMain
    =render './chatMain__header'
    .chatMain__body
      .chatMain__body--list
        =render @messages
    =render './chatMain__footer'
