.chatMain__header {
    height: 15%;

     &--group {
        @include clearfix();
        margin: 0 40px;

         &--name {
            font-size: 20px;
            color: $black-2;

         }

         &--editButton {
            font-size: 15px;
         }
     }

     &--members {
        font-size: 12px;
        margin: 0 40px;
     }
 }
