
.chatMain__body {

     &--list {
      padding-top: 26px;
      padding-left: 40px;


         &--message {
          @include clearfix ();
          padding: 20px 0;

             &--name {

             }

             &--time {

             }

             &--text {

             }
         }
     }
 }
