.chatMain__footer {
    height: 90px;
    width: 100%;

    &--newMessage {
        margin: 0 40px;
        position: relative;

        &--body {
            position: relative;

            #messageBody {
                height: 50px;
                padding-left: 10px;
                margin: 20px 0;
            }

            &--uploadLabel {


                #uploadIcon {

                }
            }
        }

        &--submit {

        }
    }
}
