
.chatMain__body {
    height: calc(100vh - 15% - 90px);
    overflow-y: scroll;

     &--list {
      padding-top: 26px;
      padding-left: 40px;


         &--message {
          @include clearfix ();
          padding: 20px 0;

             &--name {
              font-size: 16px;
              font-weight: bold;
              color: $black;
             }

             &--time {
              font-size: 12px;
              color: $gray-text;
             }

             &--text {
              font-size: 14px;
              color: $black;
             }
         }
     }
 }
