.chatSide__groups {
    height: 85%;
    width: 100%;
    background-color: $navy_light;

    &--content {


        &--group {


            &--name {

            }

            &--comment {

            }
        }
    }
}
