.chatMain__footer {
    height: 90px;
    width: 100%;

    &--newMessage {
        margin: 0 40px;
        position: absolute;

        &--body {

            #messageBody {

            }

            &--uploadLabel {


                #uploadIcon {

                }
            }
        }

        &--submit {

        }
    }
}
