//メインページ
$black: #434A54;
$black-2: #333333;
$navy: #253141;
$navy_light: #2f3e51;
$blue: #38AEF0;
$gray-text: #999999;
$gray-back: #AAAAAA;
$gray-border: #eeeeee;
$gray: #DCDCDC;
$white: #FFFFFF;
//フラッシュメッセージ
$white0: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black0: #434a54;
$alert_orange: #F35500;
