.chat__main {
  box-sizing: border-box;
  float: left;
  width: calc(100vw - 300px);
  height: 100vh;
}

.chat__main__header {
  box-sizing: border-box;
  height:15%;
  border: 1px solid #eeeeee;
  padding: 0 40px;

  &__edit-button {
    font-size: 15px;
    border: 1px solid #38AEF0;
    float: right;
    clear: both;
    display: block;
    padding: 12px 20px;
  }

  &__gname {
    color: #333333;
    font-size: 20px;
    padding: 40px 0 15px;
    float: left;
    clear: both;
    display: block;
  }

  &__member {
  color: #999999;
  font-size: 12px;
  clear: both;
  display: block;
  }
}

.main__message {
  box-sizing: border-box;
  background-color: #AAAAAA;
  height: calc(100vh - 245px);

  &__top {
    padding-top: 46px;
    padding-left: 40px;

    &__name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      float: left;
    }

    &__submit-date-time {
      font-size: 12px;
      color: #999999;
      float: left;
      padding: 0 10px 10px;
    }

    &__text {
      color: #434A54;

    }
  }
}

.main__footer {
  box-sizing: border-box;
  height: 90px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  display: flex;
  &__text {
    color: #434A54;
    folat: left;
  }
  &__send-button {
    background-color: #38AEF0;
    color: white;
    height: 50px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 40px;
    text-align: center;
    line-height: 50px;
  }
}

