.chat_main {
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}

.chat__main__header {
  box-sizing: border-box;
  &__edit-button {

  }
  &__gname {

  }
  &__member {

  }
}

.main__message {
  box-sizing: border-box;
  &__top {

    &__name {

    }
    &__submit-date-time {

    }
    &__text {

    }
  }
}

.main__footer {
  box-sizing: border-box;

  &__text {

  }
  &__send-button {

  }
}

