.chat__main {
  box-sizing: border-box;
  float: left;
  width: calc(100vw - 300px);
  height: 100vh;
}

.chat__main__header {
  box-sizing: border-box;
  height:15%;
  border: 1px solid #eeeeee;

  &__edit-button {
    font-size: 15px;
    border: 1px solid #38AEF0;
    float: right;
    clear: both;
    display: block;
  }

  &__gname {
    color: #333333;
    font-size: 20px;
    margin: 40px 0 15px;
    float: left;
    clear: both;
    display: block;
  }

  &__member {
  color: #999999;
  font-size: 12px;
  margin: 0 40px;
  clear: both;
  display: block;
  }
}

.main__message {
  box-sizing: border-box;
  background-color: #AAAAAA;
   height: calc(100vh - 245px);
  &__top {

    &__name {

    }
    &__submit-date-time {

    }
    &__text {

    }
  }
}

.main__footer {
  box-sizing: border-box;
  height: 90px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  display: flex;
  &__text {
    color: #434A54;
    folat: left;
  }
  &__send-button {
    background-color: #38AEF0;
    color: white;
    height: 50px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 40px;
    text-align: center;
    line-height: 50px;
  }
}

