.chat__side {

  &__top {
    box-sizing: border-box;
    background-color: #253141;
    width: 300px;
    height: 82px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
    display: flex;
    &__icon {
      margin-left: auto;
    }
  }

  &__glist {
    box-sizing: border-box;
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 82px);
    color: white;
    padding-right: 20px;
    padding-left: 50px;
    &__name {
      font-size: 15px;
      padding-top: 40px;
    }
    &__message {
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 40px;
    }
  }
}
