.chat__side {

  &__top {
    background-color: #253141;
    width: 300px;
    height: 82px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  &__glist {
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 82px);
    color: white;
    &__name {
      font-size: 15px;
    }
    &__message {
      font-size: 11px;
    }
  }
}
