@import "modules/siteColor";
@import "reset";
@import "font-awesome";
@import "mixin/mixin";
@import "modules/chatSide__user";
@import "modules/chatSide__groups";
@import "modules/chatMain__header";
@import "modules/chatMain__body";
@import "modules/chatMain__footer";

body,
html {
    height: 100%;
    width: 100%;
}

.chatSide {
    height: 100vh;
    width: 300px;
    float: left;
}

.chatMain {
    height: 100vh;
    width: calc(100vw - 300px);
    float: left;
}

.news {
  background-color: $blue;
  color: $white;
  text-align: center;
}
