.chat__side__glist
  .chat__side__glist__name
    sampleグループ1
  .chat__side__glist__message
    まだメッセージはありません
  .chat__side__glist__name
    sampleグループ2
  .chat__side__glist__message
    まだメッセージはありません
  .chat__side__glist__name
    sampleグループ3
  .chat__side__glist__message
    まだメッセージはありません

.chatSide__groups
  .chatSide__groups--content
      .chatSide__groups--content--group
          .chatSide__groups--content--group--name
            sampleグループ1
          .chatSide__groups--content--group--comment
            まだメッセージはありません
