.chatMain__header
  .chatMain__header--group
    .chatMain__header--group--name
      sampleグループ
    .chatMain__header--group--editButton
      %a(href="")
        Edit
  .chatMain__header--members
    Member:Daiki
