.chatSide__user
  .chatSide__user--content
    .chatSide__user--content--name
    Daiki
    %a.chatSide__user--content--newGroup(href="")
      %i.fa.fa-pencil-square-o
    %a.chatSide__user--conetnt--editUser(href="")
      %i.fa.fa-cog
