.chatMain__footer
    .chatMain__footer--newMessage
        .chatMain__footer--newMessage--body
            type a message
            .chatMain__footer--newMessage--body--uploadLabel
                = fa_icon 'picture-o', class: 'fa-picture-o'
                .chatMain__footer--newMessage--body--submit
                    Send
