.chatSide__groups
  .chatSide__groups--content
    .chatSide__groups--content--group
      .chatSide__groups--content--group--name
        sampleグループ1
      .chatSide__groups--content--group--comment
        まだメッセージはありません
      .chatSide__groups--content--group--name
        sampleグループ2
      .chatSide__groups--content--group--comment
        まだメッセージはありません
      .chatSide__groups--content--group--name
        sampleグループ3
      .chatSide__groups--content--group--comment
        まだメッセージはありません
