.chatMain__header
  .chatMain__header--group
    .chatMain__header--group--name
      = @group.name
    .chatMain__header--group--editButton
      = link_to "Edit", edit_group_path(@group.id)
  .chatMain__header--members
    MEMBER:
    - @group.users.each do |user|
      = user.name
