.chatSide__user
  .chatSide__user--content
    .chatSide__user--content--name
      Daiki
    .chatSide__user--content--newGroup
    = link_to root_path do
      %i.fa.fa-pencil-square-o
    .chatSide__user--conetnt--editUser
    = link_to root_path do
      %i.fa.fa-cog
