.chatMain__body--list--message
  .chatMain__body--list--message--name
    daikinishida
  .chatMain__body--list--message--time
    2019/01/18 12:56:05
  .chatMain__body--list--message--text
    なるほど
  .chatMain__body--list--message--name
    daikinishida
  .chatMain__body--list--message--time
    2019/01/18 12:57:05
  .chatMain__body--list--message--text
    水色きれい
  .chatMain__body--list--message--name
    daikinishida
  .chatMain__body--list--message--time
    2019/01/18 12:58:05
  .chatMain__body--list--message--text
    おお.....!!
  .chatMain__body--list--message--name
    daikinishida
  .chatMain__body--list--message--time
    2019/01/18 12:58:05
  .chatMain__body--list--message--text
    スティーブ・ウォズニアックはIQ200
